In [28]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("stocks.sqlite")
cur = conn.cursor()

In [3]:
table_query = cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = table_query.fetchall()
tables

[('STOCK_DATA',)]

In [29]:
msft_query = cur.execute("""
        SELECT * 
        FROM STOCK_DATA
        WHERE Symbol = 'MSFT';
""")
msftdata = msft_query.fetchall()
msft = pd.DataFrame(msftdata)

In [13]:
cur.execute("CREATE TABLE msft (`index`, Date, Open, High, Low, Close, Volume, Adj Close, Symbol)")

In [30]:
cur.executemany("""
            INSERT INTO msft
            VALUES(?,?,?,?,?,?,?,?,?)
""",msft.values)

OperationalError: database is locked

In [3]:
aapl_query = cur.execute("""
        SELECT * 
        FROM STOCK_DATA
        WHERE Symbol = 'AAPL';
""")
aapldata = aapl_query.fetchall()
aapl = pd.DataFrame(aapldata)

In [4]:
cur.execute("CREATE TABLE aapl (`index`, Date, Open, High, Low, Close, Volume, Adj Close, Symbol)")

In [5]:
cur.executemany("""
            INSERT INTO aapl
            VALUES(?,?,?,?,?,?,?,?,?)
""",aapl.values)

In [22]:
msft_date_query = cur.execute("""
        SELECT MAX(Date), MIN(Date)
        FROM msft
""")
msftdatedata = msft_date_query.fetchall()
msft_date = pd.DataFrame(msftdatedata)

In [23]:
msft_date

Empty DataFrame
Columns: []
Index: []