In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("stocks.sqlite")
cur = conn.cursor()

In [3]:
table_query = cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = table_query.fetchall()
tables

[('STOCK_DATA',)]

In [9]:
msft_query = cur.execute("""
        SELECT * 
        FROM STOCK_DATA
        WHERE Symbol = 'MSFT';
""")
msftdata = msft_query.fetchall()
msft = pd.DataFrame(msftdata)

In [13]:
cur.execute("CREATE TABLE msft (`index`, Date, Open, High, Low, Close, Volume, Adj Close, Symbol)")

In [14]:
cur.executemany("""
            INSERT INTO msft
            VALUES(?,?,?,?,?,?,?,?,?)
""",msft.values)

In [10]:
aapl_query = cur.execute("""
        SELECT * 
        FROM STOCK_DATA
        WHERE Symbol = 'AAPL';
""")
aapldata = aapl_query.fetchall()
aapl = pd.DataFrame(aapldata)

In [15]:
cur.execute("CREATE TABLE aapl (`index`, Date, Open, High, Low, Close, Volume, Adj Close, Symbol)")

In [16]:
cur.executemany("""
            INSERT INTO aapl
            VALUES(?,?,?,?,?,?,?,?,?)
""",aapl.values)